.home {
    /* .home__wrapper */
    &__wrapper {
    }
    /* .home__item */
    &__item {
        border: 1px solid lightgrey;
        border-radius: 10px;
        overflow: hidden;

        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);

        cursor: pointer;

        
        &:hover {
            
            .home__preview {
                scale: 1.1;
            }
        }
    }
    
    &__top {
        position: relative;
        overflow: hidden;
    }
    /* .home__preview */
    &__preview {
        transition: all .4s;
        width: 100%;
    }
    /* .home__title */
    &__title {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        line-height: 1.2;
    }

    &__svg {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    &__duration {
        position: absolute;
        bottom: 11px;
        left: 50px;


        background-color: rgba(0,0,0, 0.6);
        --text-opacity: 1;
        color: #fff;
        border-radius: 5px;
        padding: 4px 6px;
        align-self: center;
    }
}



.admin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    margin: 30px auto;

    background-color: #fff;
    padding: 10px;
}

input {
    padding: 5px;
    background-color: rgb(228, 228, 228);
}

button {
    padding: 5px;
    background-color: lightblue;
    margin-top: 5px;
}