.item {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 8px;

    @media (max-width: 480px) {
        // filter: drop-shadow(1px 1px 4px) !important;
    }

    &:hover {
        .item__img {
            transform: scale(1.1);
        }
    }

    /* .item__box */
    &__box {
        border-radius: 12px;
        background-color: #fff;
        overflow: hidden;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* .item__img */
    &__img {
        overflow: hidden;
        transition: all 0.3s !important;
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        padding-top: 40px;

        scale: 1.05;
    }

    &__logo {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 70px;
        width: 100%;
    }
    /* .item__info */
    &__info {
        // border-top: 4px solid;
        // padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        overflow: hidden;
        position: relative;
        z-index: 2;
        background-color: #fff;
    }
    /* .item__name */
    &__name {
        border-top: 4px solid;
        text-align: center;
        padding-top: 5px;
        font-weight: 500;
    }
    /* .item__team */
    &__team {
        border-top: 4px solid;
        text-align: center;
        padding-top: 5px;
        font-weight: 500;
    }
    /* .item__inner */
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // place-items: center;
        justify-content: stretch;
        text-align: center;
        // padding: 10px 0;

        border-top: 4px solid;
    }
    /* .item__per */
    &__per {
        padding: 10px 0;
        border-right: 4px solid;

        &:last-child {
            border: none;
        }
    }
    /* .item__per-name */
    &__per-name {
        font-weight: 600;
    }
    /* .item__per-stat */
    &__per-stat {
        font-weight: 700;
        color: crimson;
        font-size: 22px;
    }

}
