* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // background-color: lightblue;
    background-color: #f6f6f6;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    text-align: left;
    padding: 10px 0;
    font-size: 30px;
    margin-bottom: 20px;
}

nav {
    padding: 20px 0;
}

section {
    padding: 30px 0 50px;
}

.wrap {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background-color: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;

    // filter: drop-shadow(1px 1px 10px black);

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.select {
    border: 2px solid lightgray;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;

    option {
        padding: 4px;
    }
}
